/* 
    Created on : 26 oct. 2020, 19:08:32
    Author     : Oderouai
*/

/* Classe principale de la barre de navigation */
.nav {
 /* Couleur de fond de la barre de navigation */
 background-color: #0f0f0f;
 border-color: #E7E7E7;
 
}

.element{
    width: 50%;
    padding: 10px;
    margin: 30px;
    border: black solid 1px;
    border-radius: 20px;
    position: center;
    text-align: center;
}
h2{
    text-align: center;
}
#logo-nav{
    size: 30px;
    padding: 10px;
    margin: 10px;
}
#social a img{
    width: 60px;
    display: block-inline;
    vertical-align: top;
    margin: 10 auto;
    padding: 10 auto;
}
.header__top__right {
	text-align: right;
	padding: 5px 0 13px;
}
#navbarContent{
    text-align: right;
    padding: 10px 0 13px;
}

.gotoinscription{
    background-color: silver;
    font-size: bold;
}
/*-------------------
    Header
---------------------*/


/*-------------------
    Page shop generale
---------------------*/


/*-------------------
    Page APropos
---------------------*/
#presentation {
    background-color: #1C2833;
    color: white;
    width: 800px;
    border-color: 5px grey solid;
    border-radius: 30px;
    margin: 4rem;
    padding: 4rem;
    
       
}



